body {
    font-family: Geneva, sans-serif;
    width: 1200px;
    height: 1000px;
    background: -webkit-linear-gradient(#0052CC, #66A3FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0052CC, #66A3FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0052CC, #66A3FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0052CC, #66A3FF); /* Standard syntax */
}


.gameOptions {
    float: left;
    margin : 10px 10px 10px 10px;
}

.gameText {
    background-color: black;
    border-color: white;
    margin : 10px 10px 10px 10px;
}

.headers {
    color: red;
    padding: 10px;
    background-color: #003380;
    border: 2px solid white;
    border-radius: 15px;
}

.middle {
    padding: 5px;
    border: 2px solid white;
    border-radius: 15px;
    margin: 20px;
    overflow: auto;
    width: 95%;
}

.footers {
    text-align: center;
    background-color: #003380;
    color: cyan;
    padding: 5px;
    clear: left;
    margin: 10px;
    border: 2px solid white;
    border-radius: 15px;
}

h2 {
    text-align: center;
}