body {
    font-family: Geneva, sans-serif;
    width: 1024px;
    height: 768px;
    background: -webkit-linear-gradient(#0052CC, #66A3FF);
    background: -o-linear-gradient(#0052CC, #66A3FF);
    background: -moz-linear-gradient(#0052CC, #66A3FF);
    background: linear-gradient(#0052CC, #66A3FF);
}


.gameOptions {
    float: left;
    margin : 10px 10px 10px 10px;
}

.gameText {
    background-color: black;
    border-color: white;
    margin : 5px 5px 5px 5px;
}

.headers {
    color: red;
    padding: 10px;
    background-color: #003380;
    border: 2px solid white;
    border-radius: 15px;
}

.middle {
    padding: 5px;
    border: 2px solid white;
    border-radius: 15px;
    margin: 10px;
    overflow: auto;
    width: 98%;
}

.footers {
    text-align: center;
    background-color: #003380;
    color: cyan;
    padding: 5px;
    clear: left;
    margin: 10px;
    border: 2px solid white;
    border-radius: 15px;
}

h2 {
    text-align: center;
}