/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Apr-2014, 09:21:23
    Author     : MtpA
*/

.gameMiddle {
    padding: 5px;
    border: 2px solid white;
    border-radius: 15px;
    margin: 20px;
    overflow: auto;
    width: 95%;
    background-color: lightgray;
}


.qgrid {
    padding: 2px;
    border: 2px solid lightgray;
    border-radius: 5px;    
    background: -webkit-linear-gradient(#0052CC, #66A3FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0052CC, #66A3FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0052CC, #66A3FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0052CC, #66A3FF); /* Standard syntax */
}

.qgrid:hover {
    background: red;
}

.centreGrid, .questionGrid, .answerGrid{
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid white;
    border-radius: 10px;
    background: -webkit-linear-gradient(#0052CC, #66A3FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0052CC, #66A3FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0052CC, #66A3FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0052CC, #66A3FF); /* Standard syntax */
}

.questionGrid {
    width: 500px;
    height: 300px;
}

.centreGrid {
    width: 300px;
}

.answerGrid {
    width: 600px;
    height: 400px;
}

.answerButtons {
    border-spacing: 5px;    
}

.answerButtons tr td {
    background: blueviolet;
    width: 280px;
    height: 60px;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
}

.raphaelCanvas {
    display: block;
}

.movie {
    display: none;
}

#questionBox {
    background: black;
}